@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

#root {
  overflow: hidden;
  touch-action: none; /* Also helps with touch gestures */
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}